/* Importing Fonts */
@font-face {
	font-family: Norse;
	src: url(./fonts/Norse.otf);
}

@font-face {
	font-family: NorseBold;
	src: url(./fonts/Norsebold.otf);
}

/* Color Scheme - Nord */
:root {
	--n0: #2E3440;
	--n0-tp: rgba(46, 52, 64, 0.7);
	--n0-ltp: rgba(46, 52, 64, 0.9);
	--n1: #3B4252;
	--n2: #3B4252;
	--n3: #4C566A;
	--n4: #D8DEE9;
	--n5: #E5E9F0;
	--n6: #ECEFF4;
	--n7: #8FBCBB;
	--n8: #88C0D0;
	--n9: #81A1C1;
	--n10: #5E81AC;
	--n11: #BF616A;
	--n12: #D08770;
	--n13: #EBCB8B;
	--n14: #A3BE8C;
	--n15: #B48EAD;
}

/* Global Properties */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Iosevka Web";
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	/* scrollbar-width: none;
    -ms-overflow-style: none; */
}

body::-webkit-scrollbar {
	display: none;
}

/* Header Bar */

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 16px;
	background-color: var(--n3);
	backdrop-filter: blur(5px);
	justify-content: space-between;
	align-items: center;
	color: var(--n6);
	font-weight: 700;
	font-size: large;
	font-family: "Norse";
	z-index: 1;
	box-shadow: 0px 5px 10px var(--n0);
}

.header .logo .name {
	display: flex;
	gap: 4px;
	font-size: xx-large;
	font-family: "NorseBold";
	font-weight: bold;
	text-shadow: 1px 1px 5px var(--n0);
}

.logo .name .logo-circle {
	background-color: var(--n6);
	color: var(--n3);
	font-family: "NorseBold";
	font-weight: bold;
	border-radius: 50%;
	text-align: center;
	width: 35px;
	text-shadow: none;
	box-shadow: 0px 0px 10px var(--n0);
	margin-left: 10px;
}

.links ul,
.links a {
	display: flex;
	gap: 32px;
	list-style-type: none;
	text-decoration: none;
	color: var(--n6);
	font-family: "Norse";
	align-items: center;
	justify-content: flex-end;
}

.links li:hover a {
	background-color: var(--n6);
	padding: 8px 16px;
	color: var(--n3);
	font-weight: bold;
	font-family: NorseBold;
	transition-duration: 0.3s;
	box-shadow: 0px 0px 10px var(--n0);
}

.links li:not(:hover) a {
	transition-duration: 0.3s;
}

.header .tryit {
	background-color: var(--n6);
	color: var(--n3);
	padding: 8px 16px;
	font-family: NorseBold;
	font-weight: bold;
}

.header .tryit:hover {
	font-weight: bold;
	background-color: var(--n11);
	color: var(--n6);
	transition-duration: 0.3s;
	box-shadow: 0px 0px 10px var(--n0);
}

/* Main Body */

.space-region-container {
	background-image: url(./images/backgound.jpg);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.space-region {
	display: flex;
	flex-direction: column;
	background-attachment: scroll;
	background-color: var(--n0-tp);
	backdrop-filter: blur(5px);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.main-1 {
	display: flex;
	flex-direction: column;
}

.main-1 .intro {
	display: flex;
	padding: 80px 40px;
	justify-content: space-evenly;
	align-items: center;
}

.main-1 .intro .intro-card-container {
	display: flex;
	position: relative;
	flex-basis: 1100px;
}

.main-1 .intro .intro-card {
	background-color: var(--n3);
	backdrop-filter: blur(5px);
	padding: 48px;
	display: flex;
	gap: 48px;
	color: var(--n6);
	justify-content: space-between;
	/* align-items: center; */
	flex-basis: 1200px;
	border-radius: 15px;
	margin: auto;
	text-shadow: 2px 2px 2px var(--n0);
	transition: 0.3s ease;
	border: 5px var(--n3) solid;
	box-shadow: inset 0px 0px 30px var(--n0);
}

.hover-point {
	position: absolute;
	z-index: 2;
	width: calc(100% / 3);
	height: calc(100% / 3);
}

.hover-point:nth-child(1) {
	top: 0;
	left: 0;
}

.hover-point:nth-child(2) {
	top: 0;
	left: calc(100% / 3);
}

.hover-point:nth-child(3) {
	top: 0;
	right: 0;
}

.hover-point:nth-child(4) {
	top: calc(100% / 3);
	left: 0;
}

.hover-point:nth-child(5) {
	top: calc(100% / 3);
	right: 0;
}

.hover-point:nth-child(6) {
	bottom: 0;
	left: 0;
}

.hover-point:nth-child(7) {
	bottom: 0;
	left: calc(100% / 3);
}

.hover-point:nth-child(8) {
	bottom: 0;
	right: 0;
}

.hover-point:nth-child(1):hover ~ .intro-card {
	transform-origin: right top;
	transform: perspective(500px) rotateX(0.3deg) rotateY(-0.3deg) rotateZ(0.5deg);
}

.hover-point:nth-child(2):hover ~ .intro-card {
	transform-origin: center top;
	transform: perspective(500px) rotateX(0.3deg);
}

.hover-point:nth-child(3):hover ~ .intro-card {
	transform-origin: left top;
	transform: perspective(500px) rotateX(0.3deg) rotateY(0.3deg) rotateZ(-0.5deg);
}

.hover-point:nth-child(4):hover ~ .intro-card {
	transform-origin: left center;
	transform: perspective(500px) rotateY(-0.3deg);
}

.hover-point:nth-child(5):hover ~ .intro-card {
	transform-origin: right center;
	transform: perspective(500px) rotateY(0.3deg);
}

.hover-point:nth-child(6):hover ~ .intro-card {
	transform-origin: right bottom;
	transform: perspective(500px) rotateX(-0.3deg) rotateY(-0.3deg) rotateZ(-0.5deg);
}

.hover-point:nth-child(7):hover ~ .intro-card {
	transform-origin: center bottom;
	transform: perspective(500px) rotateX(-0.3deg);
}

.hover-point:nth-child(8):hover ~ .intro-card {
	transform-origin: left bottom;
	transform: perspective(500px) rotateX(-0.3deg) rotateY(0.3deg) rotateZ(0.5deg);
}

.main-1 .intro .intro-card .content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 600px;
	flex-grow: 0;
	gap: 16px;
	font-size: 20px;
}

.intro-card .content .heading {
	font-family: NorseBold;
	font-size: 64px;
}

.intro-card img {
	width: 38%;
	height: 38%;
	border-radius: 5px;
	vertical-align: middle;
	box-shadow: 0px 0px 10px var(--n0);
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 48px;
	padding: 48px;
}

.feature {
	color: var(--n4);
	padding: 16px;
	gap: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	border-radius: 15px;
	font-weight: 500;
	transition-duration: 0.3s;
}

.feature .front {
	text-align: center;
	padding: 48px;
	font-size: xx-large;
	font-family: NorseBold;
	line-height: 40px;
}

.feature .back {
	text-align: center;
	padding: 12px;
	width: 300px;
	font-size: 20px;
	font-weight: 500;
}

.feature.f1 {
	/* background-image: linear-gradient(#fabceb, #e481cb, #e481cb); */
	background-color: var(--n3);
	border: 3px var(--n15) solid;
	box-shadow: inset 0px 0px 10px var(--n0), 0px 0px 10px var(--n0);
	color: var(--n15);
}

.feature.f2 {
	/* background-image: linear-gradient(#fceca4, #f8db58, #f8db58); */
	background-color: var(--n3);
	border: 3px var(--n13) solid;
	box-shadow: inset 0px 0px 10px var(--n0), 0px 0px 10px var(--n0);
	color: var(--n13);
}

.feature.f3 {
	/* background-image: linear-gradient(#b1f0af, #74db70, #74db70); */
	background-color: var(--n3);
	border: 3px var(--n14) solid;
	box-shadow: inset 0px 0px 10px var(--n0), 0px 0px 10px var(--n0);
	color: var(--n14);
}

.feature.f4 {
	/* background-image: linear-gradient(#b5e8f8, #81cde4, #81cde4); */
	background-color: var(--n3);
	border: 3px var(--n8) solid;
	box-shadow: inset 0px 0px 10px var(--n0), 0px 0px 10px var(--n0);
	color: var(--n8);
}

.feature:hover {
	box-shadow: inset 0px 0px 10px var(--n0);
	transition-duration: 0.3s;
	flex-grow: 0.09;
}

.feature:not(:hover) {
	transition-duration: 0.3s;
}

.feature:hover .front,
.feature:not(:hover) .back {
	display: none;
	transition-duration: 0.3s;
}

.feature:hover .back,
.feature:not(:hover) .front {
	display: block;
	transition-duration: 0.3s;
}

.tryit-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
}

.tryit-container .tryit a {
	text-decoration: none;
	background-color: var(--n11);
	padding: 8px 16px;
	color: var(--n6);
	font-family: "NorseBold";
	font-weight: bold;
	font-size: 48px;
	border-radius: 15px;
	box-shadow:  0px 0px 10px var(--n9);
	text-shadow: 1px 1px 2px var(--n0);
}

.tryit-container .tryit:hover a {
	padding: 12px 24px;
	font-size: 56px;
	transition-duration: 0.3s;
	border: 3px var(--n11) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
	letter-spacing: 3px;
	text-shadow: 2px 2px 2px var(--n0);
}

.tryit-container .tryit:not(:hover) a {
	transition-duration: 0.3s;
}

.better-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 100px 100px;
}

.better {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--n3);
	border: 5px var(--n3) solid;
	box-shadow: inset 0px 0px 30px var(--n0);
	color: var(--n6);
	text-shadow: 1px 1px 2px var(--n0);
	backdrop-filter: blur(5px);
	padding: 32px;
	border-radius: 20px;
}

.better .heading {
	font-family: "NorseBold";
	font-weight: 900;
	font-size: 48px;
	padding: 16px;
}

.better .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.better .flashcard {
	width: 350px;
	height: 275px;
	background-color: transparent;
	border-radius: 10px;
	overflow: hidden;
	perspective: 500px;
	padding: 36px;
}

.better .flashcard:hover .card {
	transform: rotateY(180deg);
}

.better .card {
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
}

.better .card-face {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	padding: 32px;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px var(--n0), 0px 0px 10px var(--n0);
	
}

.better .front {
	background-color: var(--n12);
	color: var(--n6);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px var(--n12) solid;
}

.better .back {
	background-color: var(--n14);
	color: var(--n6);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px var(--n14) solid;
	transform: rotateY(180deg);
}

/* Footer Bar */

.footer-container {
	background-image: url(./images/backgound.jpg);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.footer {
	display: flex;
	padding: 80px 0px;
	gap: 180px;
	justify-content: center;
	background-color: var(--n0-ltp);
	bottom: 0;
	backdrop-filter: blur(5px);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.footer .about-card,
.footer .contact-card {
	display: flex;
	max-width: 800px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--n2);
	color: var(--n6);
	gap: 24px;
	padding: 24px;
	border-radius: 20px;
	font-size: 20px;
	box-shadow: inset 0px 0px 10px var(--n0);
	border: 3px var(--n2) solid;
	text-shadow: 1px 1px 2px var(--n0);
}

.footer .about-card .heading,
.footer .contact-card .heading {
	font-size: x-large;
	font-weight: 700;
	font-family: Norse;
	font-size: 28px;
}

.footer .about-card .about a {
	text-decoration: none;
	font-weight: 700;
	color: var(--n4);
}

.about-card .about a:hover {
	text-decoration: underline;
	font-weight: 700;
	color: var(--n6);
}

.contact-card ul,
.contact-card {
	list-style-type: none;
}

.contact-card a {
	text-decoration: none;
	color: var(--n4);
}

.contact-card a:hover {
	text-decoration: underline;
	color: var(--n6);
}