/* Importing Fonts */
@font-face {
	font-family: Norse;
	src: url(./fonts/Norse.otf);
}

@font-face {
	font-family: NorseBold;
	src: url(./fonts/Norsebold.otf);
}

/* Color Scheme - Nord */
:root {
	--n0: #2e3440;
	--n0-tp: rgba(46, 52, 64, 0.7);
	--n0-ltp: rgba(46, 52, 64, 0.9);
	--n1: #3b4252;
	--n2: #3b4252;
	--n3: #4c566a;
	--n4: #d8dee9;
	--n5: #e5e9f0;
	--n6: #eceff4;
	--n7: #8fbcbb;
	--n8: #88c0d0;
	--n9: #81a1c1;
	--n10: #5e81ac;
	--n11: #bf616a;
	--n12: #d08770;
	--n13: #ebcb8b;
	--n14: #a3be8c;
	--n15: #b48ead;
}

.absolute {
	background-color: #bf616a;
}

body {
	background-image: url(./images/backgound.jpg);
}

.main {
	background-color: var(--n0-tp);
	backdrop-filter: blur(5px);
}

.ai-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 75px;
}

.box {
	position: absolute;
	margin: 75px;
	width: 1800;
	height: 200px;
	z-index: 10;
}
