/* Importing Fonts */
@font-face {
	font-family: NorseBold;
	src: url(./fonts/Norsebold.otf);
}

/* Global Properties */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Iosevka Web";
	/* scrollbar-width: none;
    -ms-overflow-style: none; */
}

body::-webkit-scrollbar,
.tbl-content::-webkit-scrollbar {
	display: none;
}

::selection {
	background: var(--n0);
	color: var(--n4);
}

/* Color Scheme - Nord */
:root {
	--n0: #2e3440;
	--n0-tp: rgba(46, 52, 64, 0.7);
	--n0-ltp: rgba(46, 52, 64, 0.9);
	--n1: #3b4252;
	--n2: #3b4252;
	--n3: #4c566a;
	--n4: #d8dee9;
	--n5: #e5e9f0;
	--n6: #eceff4;
	--n7: #8fbcbb;
	--n8: #88c0d0;
	--n9: #81a1c1;
	--n10: #5e81ac;
	--n11: #bf616a;
	--n12: #d08770;
	--n13: #ebcb8b;
	--n14: #a3be8c;
	--n15: #b48ead;
}

/* Header Bar */

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 8px;
	background-color: var(--n3);
	justify-content: space-between;
	align-items: center;
	color: var(--n6);
	font-weight: 700;
	font-size: 20px;
	z-index: 1;
	box-shadow: 0px 5px 10px var(--n0);
}

.logo a {
	text-decoration: none;
	font-size: 28px;
	font-weight: 900;
	font-family: NorseBold;
	letter-spacing: 1px;
	color: var(--n6);
	text-shadow: 2px 2px 2px var(--n0);
}

.logo-circle-red {
	background-color: var(--n11);
	color: var(--n6);
	padding: 4px 11px;
	border-radius: 100%;
}

.logo-circle-blue {
	background-color: var(--n8);
	color: var(--n6);
	padding: 4px 11px;
	border-radius: 100%;
}

.logo-circle-green {
	background-color: var(--n14);
	color: var(--n6);
	padding: 4px 11px;
	border-radius: 100%;
}

.logo-name-red {
	color: var(--n11);
	padding-right: 8px;
}

.logo-name-blue {
	color: var(--n8);
	padding-right: 8px;
}

.logo-name-green {
	color: var(--n14);
	padding-right: 8px;
}

.header-links ul,
.header-links a {
	display: flex;
	gap: 8px;
	list-style-type: none;
	text-decoration: none;
	color: var(--n6);
	align-items: center;
	justify-content: flex-end;
	font-family: NorseBold;
	transition-duration: 0.3s;
}
.header-links a {
	background-color: var(--n1);
	padding: 8px 16px;
}

.header-links li:hover a {
	padding: 8px 16px;
	color: var(--n3);
	font-weight: bold;
	font-family: NorseBold;
	transition-duration: 0.3s;
	box-shadow: 0px 0px 10px var(--n0);
	background-color: var(--n6);
}

.header-links #header-refilltheform {
	background-color: var(--n6);
	color: var(--n3);
	padding: 8px 14px;
	font-family: NorseBold;
	font-weight: bold;
	transition-duration: 0.3s;
}

.header-links #header-refilltheform:hover {
	font-weight: bold;
	background-color: var(--n11);
	color: var(--n6);
	box-shadow: 0px 0px 10px var(--n0);
}

/* Bakground Effect */

body {
	background-image: url(./images/backgound.jpg);
	backdrop-filter: blur(5px);
	position: relative;
}

.main {
	background-color: var(--n0-tp);
	position: relative;
}

/* Table */

.table-container {
	max-height: 765px;
	margin: 52px 300px;
	background-color: var(--n0);
	overflow-y: auto;
	scrollbar-width: none;
	border: 3px var(--n3) solid;
	border-radius: 5px;
}

.table-container::-webkit-scrollbar {
	width: 0;
	height: 0;
}

table {
	position: relative;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
	background-color: var(--n2);
}

th {
	padding: 8px 0px;
	font-size: 36px;
	font-weight: 900;
	font-family: NorseBold;
	text-align: center;
	border-right: 3px var(--n3) solid;
	color: var(--n6);
	text-shadow: 2px 2px 2px var(--n0);
}

tbody {
	border-top: 3px var(--n3) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
}

td {
	padding: 8px;
	text-align: center;
	vertical-align: middle;
	font-weight: 500;
	font-size: 20px;
	color: var(--n6);
	border-right: 3px var(--n3) solid;
	text-transform: uppercase;
}

tbody tr {
	border-bottom: 3px var(--n3) solid;
}

td:last-of-type,
th:last-of-type {
	border-right: 0px;
}

tbody tr:last-of-type {
	border-bottom: 0px;
}

input[type=checkbox] {
	margin-right: 16px;
	
}

/* Chatbot */

.chatbox-clicker {
	position: absolute;
	right: 52px;
	bottom: 52px;
	color: var(--n6);
	font-size: 48px;
	z-index: 999;
	background-color: var(--n11);
	height: 90px;
	width: 90px;
	border-radius: 100%;
	text-shadow: 3px 3px 3px var(--n0);
	transition-duration: 0.7s;
	border: 3px var(--n11) solid;
	cursor: pointer;
}

.chatbox-clicker:hover {
	transform: rotate(360deg);
	border: 3px var(--n11) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
	text-shadow: none;
}

.chatbox-clicker i {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%);
}

.chatbox-clicker p {
	position: absolute;
	font-size: 36px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	color: var(--n11);
	text-shadow: none;
	font-family: NorseBold;
	font-weight: 900;
}

.chat-options-container {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	color: var(--n6);
	z-index: 999;
	background-color: var(--n3);
	padding: 32px;
	border: 3px var(--n11) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
	border-radius: 5px;
	font-size: 20px;
	display: none;
	flex-direction: column;
	gap: 32px;
}

.chat-options-heading {
	font-size: 28px;
	display: flex;
	gap: 32px;
	position: relative;
	font-weight: 700;
	font-family: NorseBold;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px var(--n0);
}

.chat-options-heading i {
	font-size: 24px;
	position: absolute;
	top: -43px;
	right: -43px;
	color: var(--n6);
	background-color: var(--n0);
	border-radius: 100%;
	cursor: pointer;
}

.chat-options {
	display: flex;
	justify-content: space-around;
	gap: 32px;
}

.chat-option {
	text-decoration: none;
	color: var(--n6);
	background-color: var(--n11);
	border: 3px var(--n11) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
	padding: 10px 14px;
	border-radius: 5px;
	text-align: center;
	transition-duration: 0.3s;
	font-weight: 500;
	text-shadow: 2px 2px 2px var(--n0);
}

.chat-option:hover {
	border: 3px var(--n11) solid;
	box-shadow: inset 0px 0px 10px var(--n6), 0px 0px 10px var(--n6);
}

/* Compare Btn */


#submitBtn {
	position: absolute;
	left: 52px;
	bottom: 52px;
	color: var(--n6);
	font-size: 48px;
	z-index: 999;
	background-color: var(--n14);
	height: 90px;
	width: 90px;
	border-radius: 100%;
	text-shadow: 3px 3px 3px var(--n0);
	transition-duration: 0.7s;
	border: 3px var(--n14) solid;
	cursor: pointer;
}

#submitBtn:hover {
	transform: rotate(360deg);
	border: 3px var(--n14) solid;
	box-shadow: inset 0px 0px 10px var(--n0);
	text-shadow: none;
}

#submitBtn i {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -62%);
}

/* Footer Bar */

.footer-container {
	background-image: url(./images/backgound.jpg);
}

.footer {
	display: flex;
	justify-content: center;
	gap: 32px;
	padding: 32px 0px;
	background-color: var(--n0-ltp);
	backdrop-filter: blur(5px);
}

.footer .about-card,
.footer .contact-card {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	gap: 32px;
	padding: 32px;
	font-size: 20px;
	max-width: 800px;
	border: 3px var(--n2) solid;
	border-radius: 10px;
	color: var(--n6);
	background-color: var(--n2);
	box-shadow: inset 0px 0px 10px var(--n0);
	text-shadow: 2px 2px 2px var(--n0);
}

.footer .about-card-heading,
.footer .contact-card-heading {
	font-size: 28px;
	font-weight: 700;
	font-family: NorseBold;
}

.footer .contact-card-content i {
	margin-right: 10px;
}

.footer .about-card-content a {
	text-decoration: none;
	font-weight: 700;
	color: var(--n6);
}

.footer .about-card-content a:hover {
	text-decoration: underline;
	font-weight: 700;
	color: var(--n13);
}

.contact-card ul {
	list-style-type: none;
}

.footer .contact-card-content a {
	text-decoration: none;
	color: var(--n6);
}

.footer .contact-card-content a:hover {
	text-decoration: underline;
	color: var(--n13);
}
