/* Importing Fonts */
@font-face {
	font-family: NorseBold;
	src: url(./fonts/Norsebold.otf);
}

/* Global Properties */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Iosevka Web";
}

html {
	scroll-behavior: smooth;
}

body {
	backdrop-filter: blur(3px);
	display: flex;
	flex-direction: column;
	/* scrollbar-width: none;
    -ms-overflow-style: none; */
}

body::-webkit-scrollbar,
.tbl-content::-webkit-scrollbar {
	display: none;
}

::selection {
	background: var(--n0);
	color: var(--n4);
}

/* Color Scheme - Nord */
:root {
	--n0: #2e3440;
	--n0-tp: rgba(46, 52, 64, 0.7);
	--n0-ltp: rgba(46, 52, 64, 0.9);
	--n1: #3b4252;
	--n2: #3b4252;
	--n3: #4c566a;
	--n4: #d8dee9;
	--n5: #e5e9f0;
	--n6: #eceff4;
	--n7: #8fbcbb;
	--n8: #88c0d0;
	--n9: #81a1c1;
	--n10: #5e81ac;
	--n11: #bf616a;
	--n12: #d08770;
	--n13: #ebcb8b;
	--n14: #a3be8c;
	--n15: #b48ead;
}

/* Header Bar */

.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 16px;
	background-color: var(--n3);
	backdrop-filter: blur(1px);
	justify-content: space-between;
	align-items: center;
	color: var(--n6);
	font-weight: 700;
	font-size: large;
	font-family: "Norse";
	z-index: 1;
	box-shadow: 0px 5px 10px var(--n0);
}

.header .logo .name {
	display: flex;
	gap: 4px;
	font-size: xx-large;
	font-family: "NorseBold";
	font-weight: bold;
	text-shadow: 1px 1px 5px var(--n0);
}

.logo .name .logo-circle {
	background-color: var(--n6);
	color: var(--n3);
	font-family: "NorseBold";
	font-weight: bold;
	border-radius: 50%;
	text-align: center;
	width: 35px;
	text-shadow: none;
	box-shadow: 0px 0px 10px var(--n0);
	margin-left: 10px;
}

.links {
	display: flex;
	gap: 32px;
}

.links ul,
.links a {
	display: flex;
	gap: 32px;
	list-style-type: none;
	text-decoration: none;
	color: var(--n6);
	font-family: "Norse";
	align-items: center;
	justify-content: flex-end;
}

.links li:hover a {
	background-color: var(--n6);
	padding: 8px 16px;
	color: var(--n3);
	font-weight: bold;
	font-family: NorseBold;
	transition-duration: 0.3s;
	box-shadow: 0px 0px 10px var(--n0);
}

.links li:not(:hover) a {
	transition-duration: 0.3s;
}

.header .tryit {
	background-color: var(--n6);
	color: var(--n3);
	padding: 8px 16px;
	font-family: NorseBold;
	font-weight: bold;
}

.header .tryit:hover {
	font-weight: bold;
	background-color: var(--n11);
	color: var(--n6);
	transition-duration: 0.3s;
	box-shadow: 0px 0px 10px var(--n0);
}

.header .ai {
	background-color: var(--n11);
	border-radius: 50%;
	border: 3px var(--n11) dashed;
	padding: 7px 11px;
	font-family: "NorseBold";
	font-weight: 900;
	font-size: 22px;
	text-shadow: 1px 1px 2px var(--n0);
	box-shadow: 0px 0px 10px var(--n0);
}

.header .ai:not(:hover) {
	transition-duration: 0.3s;
}

.header .ai:hover {
	transition-duration: 0.3s;
	background-color: var(--n3);
	color: var(--n6);
	padding: 7px 11px;
	text-shadow: 2px 2px 4px var(--n11);
	box-shadow: inset 0px 0px 10px var(--n11),0px 0px 10px var(--n11);
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.main {
	background-color: var(--n0-tp);
}

.tbl-header {
	background-color: var(--n3);
}

.tbl-content {
	height: 80vh;
	overflow-x: auto;
	margin-top: 0px;
	border: 3px solid var(--n3);
}

th {
	font-size: 32px;
	padding: 10px 10px 7px;
	font-family: "NorseBold";
	text-align: left;
	font-weight: 700;
	text-shadow: 1px 1px 2px var(--n0);
	color: var(--n6);
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 500;
	font-size: 18px;
	color: var(--n6);
	border-bottom: 3px solid var(--n3);
	text-transform: uppercase;
}

tbody {
	font-size: 40px;
	box-shadow: inset 0px 0px 10px var(--n0);
}

body {
	background-image: url(./images/backgound.jpg);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.table-container {
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 100px;
	margin-top: 100px;
	background-color: var(--n0-tp);
}

table {
	font-weight: 500;
	/* border: ; */
}

section {
	margin: 50px;
}

/* Footer Bar */

.footer-container {
	background-image: url(./images/backgound.jpg);
}

.footer {
	display: flex;
	padding: 80px 0px;
	gap: 180px;
	justify-content: center;
	background-color: var(--n0-ltp);
	bottom: 0;
	backdrop-filter: blur(5px);
}

.footer .about-card,
.footer .contact-card {
	display: flex;
	max-width: 800px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--n2);
	color: var(--n6);
	gap: 24px;
	padding: 24px;
	border-radius: 20px;
	font-size: 20px;
	box-shadow: inset 0px 0px 10px var(--n0);
	border: 3px var(--n2) solid;
	text-shadow: 1px 1px 2px var(--n0);
}

.footer .about-card .heading,
.footer .contact-card .heading {
	font-size: x-large;
	font-weight: 700;
	font-family: Norse;
	font-size: 28px;
}

.footer .about-card .about a {
	text-decoration: none;
	font-weight: 700;
	color: var(--n4);
}

.about-card .about a:hover {
	text-decoration: underline;
	font-weight: 700;
	color: var(--n6);
}

.contact-card ul,
.contact-card {
	list-style-type: none;
}

.contact-card a {
	text-decoration: none;
	color: var(--n4);
}

.contact-card a:hover {
	text-decoration: underline;
	color: var(--n6);
}
