<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowMyCollege Chatbot</title>
    <link rel="stylesheet" href="static/aichatbot.css">
    <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="static/images/grad_hat_white.png" />
    <script src="https://kit.fontawesome.com/681ff4ba53.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $(".chatbox").scrollTop($(".chatbox")[0].scrollHeight);
        });
    </script>

</head>
<body>

    <!-- HeaderBar Begins -->

    <div class="header" id="header">
        <!-- Logo(KnowMyCollege) of the Website -->
        <div class="logo">
            <!-- <img src="static/imgaes/grad_hat_white.png" alt=""> -->
            <a href="#top">
                Know My College
                <!-- <span class="logo-circle-red">K</span> -->
                <!-- <span class="logo-name-red">Know</span> -->
                <!-- <span class="logo-circle-blue">M</span> -->
                <!-- <span class="logo-name-blue">My</span> -->
                <!-- <span class="logo-circle-green">C</span> -->
                <!-- <span class="logo-name-green">College</span> -->
            </a>
        </div>

        <!-- Links Appearing on the Right Side of the HeaderBar -->
        <div class="header-links">
            <ul>
                <li><a href="#top">Home</a></li>
                <li><a href="#footer">About Us</a></li>
                <span style="font-size: 28px; font-family: NorseBold">~</span>
                <li>
                    <a id="header-collegelist" href="collegelist">Colleges</a>
                </li>
                <li>
                    <a id="header-filltheform" href="form">Refill The Form</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- HeaderBar Ends -->


    <div class="main">


        <div class="chatbox-container">

            <div class="chatbox-heading">~ AI ChatBot ~</div>
            
            <div class="chatbox" id="chatbox">
                {% for message in messages %}
                    <div class="message {{ message.sender }}">
                        {% if message.sender == "bot" %}
                        <i class="fa-solid fa-robot"></i>
                        <div class="content">{{ message.content }}</div>
                        {% else %}
                        <div class="content">{{ message.content }}</div>
                        <i class="fa-solid fa-user"></i>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- <div id="chatbot-end"></div> -->
            </div>
            
            <form id="chat-form" action="/ai_chatbot" method="post">
                <input type="text" id="question" name="question" placeholder="Enter your question" required>
                <button type="submit">Submit</button>
            </form>

        </div>


    </div>


    <!-- Footer Begins -->

    <div class="footer-container">
        <div class="footer" id="footer">
            <div class="about-card">
                <div class="about-card-heading">About Us</div>
                <div class="about-card-content">
                    We are a team of 4 people from
						<a class="iiitp-link" href="https://iiitp.ac.in">
							<!-- <i class="fa-solid fa-graduation-cap"></i> -->
							Indian Institute of Information Technology,
							Pune</a>.<br />
						This is just a hobby project, but we try to keep the
						data up to date. If you find any bugs or have any
						suggestions then open a issue at our
						<a class="github-link" href="https://github.com/h4636oh/KnowMyCollege/issues/new">
							<!-- <i class="fa-brands fa-github"></i> -->
							Github Repo</a>.<br />
						Just to tell you we hate Skiddies, so don't be one
						and be respectful.
                </div>
            </div>
            <div class="contact-card">
                <div class="contact-card-heading">Contact Us</div>
                <div class="contact-card-content">
                    <ul>
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <a href="mailto:fakeh4@tuta.io" target="_blank"
                                rel="noopener noreferrer">Fakeh4@tuta.io</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-github"></i>
                            <a href="https://github.com/h4636oh/KnowMyCollege" target="_blank"
                                rel="noopener noreferrer">KnowMyCollege</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-mastodon"></i>
                            <a href="https://mastodon.social/getting-started" target="_blank"
                                rel="noopener noreferrer">KnowMyCollege</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-linkedin"></i>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                                rel="noopener noreferrer">~~KnowMyCollege~~</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                                rel="noopener noreferrer">~~KnowMyCollege~~</a>
                        </li>
                        <li>
                            <i class="fa-brands fa-x-twitter"></i>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                                rel="noopener noreferrer">~~KnowMyCollege~~</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Ends -->


    
    <!-- <script>
        $(document).ready(function () {
            // Function to handle scrolling
            $("#chatbox").on("scroll", function () {
                if ($(this).scrollTop() === 0) {
                    $(this).prepend('<div class="loading">..*..*..*..</div>');
                    setTimeout(function () {
                        $(".loading").remove();
                        // Add logic here to load older messages if available
                    }, 1000);
                }
            });
        });
    </script> -->



</body>
</html>
