<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Page</title>
    
</head>
<body>
    <h1>College Page</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">College</th>
            </tr>
        </thead>
        <tbody>
            {% for college in my_list %}
                <tr>
                    <td>{{ college[0] }}</td>
                    <td>{{ college[1] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

