<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KnowMyCollege</title>
        <link rel="stylesheet" href="static/form-css.css">
		<link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="static/images/grad_hat_black.png">
    </head>
    <body>
        <div class="body">
            <div id="top"></div>
            <div class="header" id="header">
                <div class="logo">
                    <div class="name">
                        <span class="logo-circle">K</span>now
                        <span class="logo-circle">M</span>y
                        <span class="logo-circle">C</span>ollege
                    </div>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="#footer">Contact</a></li>
                        <li><a class="reset" href="form">Reset</a></li>
                    </ul>
                </div>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                <div class="heading">
                    Fill The Form
                </div>
                <div class="rank">
                    <label for="rankAIR" required>How was your JEE-Advanced?</label>
                    <input type="number" id="rankAIR" name="rankAIR" placeholder="Enter Advanced Rank" required>
                </div>

                <div class="zth">
                    <label for="placementPref" required>How much does Placement/Package factor into your choice?</label>
                    <input type="range" id="placementPref" name="placementPref">
                </div>

                <div class="zth">
                    <label for="campusSize" required>How much does the size of the Campus factor into your choice?</label>
                    <input type="range" id="campusSize" name="campusSize">
                </div>

                <div class="zth">
                    <label for="codingPref" required>How much does coding culture factor into your choice?</label>
                    <input type="range" id="codingPref" name="codingPref">
                </div>

                <div class="zth">
                    <label for="culturalPref" required>How much do cultural events matter to you?</label>
                    <input type="range" id="culturalPref" name="culturalPref">
                </div>

                <div class="zth">
                    <label for="tagPref" required>How much does college tag matter to you?</label>
                    <input type="range" id="tagPref" name="tagPref">
                </div>

                <div class="zth">
                    <label for="startupPref" required>How much do you care about the college being start up friendly?</label>
                    <input type="range" id="startupPref" name="startupPref">
                </div>

                <div class="highstd">
                    <label for="higherStudiesPref" required>Do you wish to pursue higher education?</label>
                    <div class="op">
                        <input type="radio" id="yesOption" name="higherStudiesPref" value="yes" required>
                        <label for="yesOption" required>Yes</label>
                    </div>
                    <div class="op">
                        <input type="radio" id="noOption" name="higherStudiesPref" value="no" required>
                        <label for="noOption" required>No</label>
                    </div>
                </div>

                <div class="preflist-container">
                    <div class="preflist">
                        <label for="statePref" required>Rank Your Preferred States:</label>
                        <select id="choice1" name="choice1" required>
                                    <option value>Select Your 1st Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice2" name="choice2" required>
                                    <option value>Select Your 2nd Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice3" name="choice3" required>
                                    <option value>Select Your 3rd Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice4" name="choice4" required>
                                    <option value>Select Your 4th Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>        
                        <select id="choice5" name="choice5" required>
                                    <option value>Select Your 5th Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice6" name="choice6" required>
                                    <option value>Select Your 6th Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice7" name="choice7" required>
                                <option value>Select Your 7th Preferance</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                        </select>
                        <select id="choice8" name="choice8" required>
                                    <option value>Select Your 8th Preferance</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
    
                    <div class="preflist">
                        <label for="brachPref" required>Rank Your Preferred Branches:</label>
                        <select id="preference1" name="preference1">
                            <option value>Select Your 1st Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference2" name="preference2">
                            <option value>Select Your 2nd Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference3" name="preference3">
                            <option value>Select Your 3rd Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference4" name="preference4">
                            <option value>Select Your 4th Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference5" name="preference5">
                            <option value>Select Your 5th Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference6" name="preference6">
                            <option value>Select Your 6th Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference7" name="preference7">
                            <option value>Select Your 7th Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                        <select id="preference8" name="preference8">
                            <option value>Select Your 8th Preferance</option>
                            <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                            <option value="BIOTECHNOLOGY">BIOTECHNOLOGY</option>
                            <option value="BASIC SCIENCES">BASIC SCIENCES</option>
                            <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                            <option value="COMPUTER SCIENCE & ENGINEERING">COMPUTER SCIENCE & ENGINEERING</option>
                            <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                            <option value="ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.">ELECTRONICS & ELECTRICAL COMMUNICATION ENGG.</option>
                            <option value="ECONOMICS">ECONOMICS</option>
                            <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                        </select>
                    </div>    
                </div>
                <div class="submit-container">
                    <div class="submits">
                        <input class="submit" type="submit" value="Submit">
                    </div>
                </div>
            </form>
            </div>
            <div class="footer-container">
				<div class="footer" id="footer">
					<div class="about-card">
						<div class="heading">About Us</div>
						<div class="about">
							We are a team of 4 people from
							<a class="iiitp-link" href="https://iiitp.ac.in">IIITP
								College</a>.<br>
							This project is but as hobby project, but we try
							to keep the data up to data. If you find any
							bugs or have some improvement suggestion then
							open a issue at our
							<a class="github-link" href="https://github.com/h4636oh/KnowMyCollege/issues/new">Github
								Repo</a>.<br>
							Just to tell you We fucking hate Skiddies, so
							don't be one and be respectful.
						</div>
					</div>
					<div class="contact-card">
						<div class="heading">Contact Us</div>
						<div class="contact">
							<ul>
								<li>
									Email: <a href="mailto:fakeh4@tuta.io" target="_blank" rel="noopener noreferrer">fakeh4@tuta.io</a>
								</li>
								<li>
									Github: <a href="https://github.com/h4636oh/KnowMyCollege" target="_blank" rel="noopener noreferrer">KnowMyCollege</a>
								</li>
								<li>
									LinkedIn: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">KnowMyCollege</a>
								</li>
								<li>
									Instagram: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">KnowMyCollege</a>
								</li>
								<li>
									Twitter: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">KnowMyCollege</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </div>
    </body>
</html>
