<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KnowMyCollege</title>
		<link rel="stylesheet" href="static/style.css" />
		<link
			href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/png" href="static/images/grad_hat_black.png" />
	</head>
	<body>
		<div id="top"></div>
		<div class="space-region-container">
			<div class="space-region">
				<div class="header" id="header">
					<div class="logo">
						<!-- <img src="./images/grad_hat_white.png" height="32px" width="32px"> -->
						<div class="name">
							<span class="logo-circle">K</span>now
							<span class="logo-circle">M</span>y
							<span class="logo-circle">C</span>ollege
						</div>
					</div>
					<div class="links">
						<ul>
							<li><a href="#top">Home</a></li>
							<li><a href="#footer">Contact</a></li>
							<li>
								<a class="tryit" href="form"
									>Fill The Form</a
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="main-1">
					<div class="intro">
						<div class="intro-card-container">
							<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
    						<div class="hover-point"></div>
							<div class="intro-card">
								<div class="content">
									<div class="heading">Know My College</div>
									<div class="about">
										We established this website with
										the aim of assisting students who have
										recently passed their common college
										entrance exams and find themselves in a
										state of confusion regarding which
										college to enroll in.
										<!--Having been in the same position as you, having 
									successfully cleared our exams, we understand your predicament better than anyone else.-->
										We offer a holistic form that is
										filled with more choices than just placement or cutoff. Based on
										the information provided in this form,
										we rank colleges.
										Additionally, we provide access to our
										chatbot, which is designed to address
										any queries or concerns you may have
										regarding your choices.
										<!-- Our goal is to simplify the college selection process and provide you with the 
									support you need to embark on this new chapter of your academic journey with confidence. -->
									</div>
								</div>
								<img
									src="static/images/main.gif"
								/>
							</div>
						</div>
					</div>
					<div class="features">
						<div class="feature f1">
							<p class="front">
								Genrative <br />
								AI
							</p>
							<p class="back">
								Powered by GPT-4, Our Conversational AI knows
								about all colleges. It can tell you everything
								related to them.
							</p>
						</div>
						<div class="feature f2">
							<p class="front">
								Leveraging Power <br />
								of Data
							</p>
							<p class="back">
								With our advanced data model your college
								decision making process is made by considering
								all the factors which affects one career.
							</p>
						</div>
						<div class="feature f3">
							<p class="front">
								User Friendly <br />
								Form
							</p>
							<p class="back">
								With easy questions, choosing college is not a
								nigthmare anymore. Answer simple questions to
								get your preferance list.
							</p>
						</div>
						<div class="feature f4">
							<p class="front">
								Save Time <br />
								Reduce Stress
							</p>
							<p class="back">
								Gone are the days of reading lengthy documents.
								Our powerful AI & Big Data tools help
								you save time and reduce stress when choosing your college
							</p>
						</div>
					</div>
					<div class="tryit-container">
						<div class="tryit">
							<a href="form">Fill The Form</a>
						</div>
					</div>
				</div>
				<div class="main-2">
					<div class="better-container">
						<div class="better">
							<div class="heading">
								<!-- How are we better? -->
								Why Do You Need Us ?
							</div>
							<div class="content">
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											Thousands of pages of data to read
											from different sources which might
											be outdated.
										</div>
										<div class="card-face back">
											Conversational AI summarizes and
											answers your questions about
											colleges and their branches.
										</div>
									</div>
								</div>
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											With 500+ colleges and branches in
											each college gives one lakhs of
											option to choose from.
										</div>
										<div class="card-face back">
											Gives you a personalized preference list
											just by answering our 8 simple
											questions related to colleges.
										</div>
									</div>
								</div>
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											Humans simply can't process large 
											information as easily or accurately as a computer.
										</div>
										<div class="card-face back">
											All the hard work is done by 
											the computer so you just have to
											look at a small set of well arranged
											data.
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="notice">
								<em>hover the cards</em>
							</div> -->
						</div>
					</div>
				</div>
				<div class="footer-container">
					<div class="footer" id="footer">
						<div class="about-card">
							<div class="heading">About Us</div>
							<div class="about">
								We are a team of 4 people from
								<a class="iiitp-link" href="https://iiitp.ac.in"
									>IIITP College</a
								>.<br />
								This project is but as hobby project, but we try
								to keep the data up to data. If you find any
								bugs or have some improvement suggestion then
								open a issue at our
								<a
									class="github-link"
									href="https://github.com/h4636oh/KnowMyCollege/issues/new"
									>Github Repo</a
								>.<br />
								Just to tell you We fucking hate Skiddies, so
								don't be one and be respectful.
							</div>
						</div>
						<div class="contact-card">
							<div class="heading">Contact Us</div>
							<div class="contact">
								<ul>
									<li>
										Email:
										<a
											href="mailto:fakeh4@tuta.io"
											target="_blank"
											rel="noopener noreferrer"
											>fakeh4@tuta.io</a
										>
									</li>
									<li>
										Github:
										<a
											href="https://github.com/h4636oh/KnowMyCollege"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
									<li>
										LinkedIn:
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
									<li>
										Instagram:
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
									<li>
										Twitter:
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>