<!DOCTYPE html>
<html lang="en">
	<head>
		<title>KnowMyCollege Home</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/index.css" />
		<link
			href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="image/png"
			href="static/images/grad_hat_white.png"
		/>
		<script
			src="https://kit.fontawesome.com/681ff4ba53.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!-- Just for Moving to the Top of Site -->
		<div id="top"></div>

		<!-- For Background Wallpaper -->
		<div class="space-region-container">
			<!-- For Background Wallpaper Blur effect -->
			<div class="space-region">
				<!-- HeaderBar Begins -->

				<div class="header" id="header">
					<!-- Logo(KnowMyCollege) of the Website -->
					<div class="logo">
						<!-- <img src="static/imgaes/grad_hat_white.png" alt=""> -->
						<a href="#top">
							Know My College
							<!-- <span class="logo-circle-red">K</span> -->
							<!-- <span class="logo-name-red">Know</span> -->
							<!-- <span class="logo-circle-blue">M</span> -->
							<!-- <span class="logo-name-blue">My</span> -->
							<!-- <span class="logo-circle-green">C</span> -->
							<!-- <span class="logo-name-green">College</span> -->
						</a>
					</div>

					<!-- Links Appearing on the Right Side of the HeaderBar -->
					<div class="header-links">
						<ul>
							<li><a href="#top">Home</a></li>
							<li><a href="#faqs">FAQs</a></li>
							<li><a href="#contactform">Contact Us</a></li>
							<li><a href="#footer">About Us</a></li>
							<span
								style="font-size: 28px; font-family: NorseBold"
								>~</span
							>
							<li>
								<a id="header-collegelist" href="collegelist"
									>Colleges</a
								>
							</li>
							<li>
								<a id="header-filltheform" href="form"
									>Fill The Form</a
								>
							</li>
						</ul>
					</div>
				</div>

				<!-- HeaderBar Ends -->

				<!-- Main Body Begins -->

				<div class="main-1">
					<!-- IntroCard Begins -->

					<div class="intro-card-container">
						<!-- <div class="intro-card-container"> -->
						<div class="intro-card">
							<!-- Text Written in the IntroBox -->
							<div class="intro-card-content">
								<div class="intro-card-heading">
									Know My College
								</div>
								<div class="intro-card-about">
									We established this website with the aim of
									assisting students who have recently passed
									their common college entrance exams and find
									themselves in a state of confusion regarding
									which college to enroll in.
									<br />
									<br />
									We offer a holistic form that is filled with
									more choices than just placement or cutoff.
									Based on the information provided in this
									form, we rank colleges. Additionally, we
									provide access to our chatbot, which is
									designed to address any queries or concerns
									you may have regarding your choices.
								</div>
							</div>

							<!-- GIF Show in IntroBox -->
							<img
								class="intro-card-img"
								src="static/images/main.gif"
							/>
						</div>
						<!-- </div> -->
					</div>

					<!-- IntroCard Ends -->

					<!-- Feature Section Begins -->

					<div class="features">
						<div class="feature f1">
							<p class="front">
								Generative <br />
								AI
							</p>
							<p class="back">
								Powered by GPT-4, Our Conversational AI knows
								about all colleges. It can tell you everything
								related to them.
							</p>
						</div>
						<div class="feature f2">
							<p class="front">
								Leveraging Power <br />
								of Data
							</p>
							<p class="back">
								With our advanced data model your college
								decision making process is made by considering
								all the factors which affects one career.
							</p>
						</div>
						<div class="feature f3">
							<p class="front">
								User Friendly <br />
								Form
							</p>
							<p class="back">
								With easy questions, choosing your college is
								not a nightmare anymore. Answer simple questions
								to get a tailored preference list.
							</p>
						</div>
						<div class="feature f4">
							<p class="front">
								Save Time <br />
								Reduce Stress
							</p>
							<p class="back">
								Gone are the days of reading lengthy documents.
								Our powerful AI & Big Data tools help you save
								time and reduce stress when choosing your
								college
							</p>
						</div>
					</div>

					<!-- Feature Section Ends -->

					<!-- Fill the Form Button Begins -->

					<div class="mainlinks-container">
						<a class="filltheform" href="form">Fill The Form</a>
						<a class="collegelist" href="collegelist"
							>Colleges List</a
						>
					</div>

					<!-- Fill the Form Ends -->

					<!-- What do We Even Do Begins -->

					<div class="whatdowedo-container">
						<div class="whatdowedo">
							<div class="whatdowedo-heading">
								How We Save Your Time ?
							</div>
							<div class="whatdowedo-content">
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											Thousands of pages of data to read
											from different sources which might
											be outdated.
										</div>
										<div class="card-face back">
											Conversational AI summarizes and
											answers your questions about
											colleges and their branches.
										</div>
									</div>
								</div>
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											With many branches in each college
											the total permutations are too much
											for humans to process.
										</div>
										<div class="card-face back">
											Get a personalized preference list
											by answering our 8 simple questions.
										</div>
									</div>
								</div>
								<div class="flashcard">
									<div class="card">
										<div class="card-face front">
											One can't filter things based on
											multiple factors easily.
										</div>
										<div class="card-face back">
											More factors than just placement and
											cutoff are taken into consideration
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- What do We Even Do Ends -->

					<!-- FAQs Begins -->

					<div class="faqs-container">
						<div class="faqs" id="faqs">
							<div class="faqs-heading">FAQs</div>
							<div class="faq" onclick="faqreveal(2)">
								<div class="faq-question-container">
									<div class="faq-question">
										How does the website determine college
										rankings based on the preferences filled
										in the form?
									</div>
									<div class="faq-arrow">
										<i class="fa-solid fa-caret-down"></i>
									</div>
								</div>
								<div class="faq-answer">
									The website uses a sophisticated algorithm
									that analyzes the preferences filled in by
									users on the form. These preferences could
									include campus placements, location
									preferences, campus size, extracurricular
									activities, and more. The algorithm then
									cross-references this information with data
									on colleges and universities to generate
									personalized rankings tailored to each
									user's unique preferences.
								</div>
							</div>
							<div class="faq" onclick="faqreveal(3)">
								<div class="faq-question-container">
									<div class="faq-question">
										Can I trust the accuracy of the rankings
										provided by the website?
									</div>
									<div class="faq-arrow">
										<i class="fa-solid fa-caret-down"></i>
									</div>
								</div>
								<div class="faq-answer">
									Yes, you can trust the accuracy of the
									rankings provided by the website. Our
									algorithm is
									<strong>open source</strong> and takes into
									account a wide range of factors and data
									points to ensure that the rankings are as
									accurate and relevant as possible. However,
									it's important to remember that rankings are
									just one aspect to consider when choosing a
									college, and individual research and campus
									visits are also highly recommended.
								</div>
							</div>
							<div class="faq" onclick="faqreveal(4)">
								<div class="faq-question-container">
									<div class="faq-question">
										How does the AI chatbot assist users
										with their queries about colleges and
										the ranking process?
									</div>
									<div class="faq-arrow">
										<i class="fa-solid fa-caret-down"></i>
									</div>
								</div>
								<div class="faq-answer">
									The AI chatbot on our website is designed to
									assist users with any questions they may
									have about colleges, the ranking process, or
									any other related queries. The chatbot uses
									natural language processing and machine
									learning to understand and respond to user
									inquiries in real-time, providing helpful
									information and guidance.
								</div>
							</div>
							<div class="faq" onclick="faqreveal(5)">
								<div class="faq-question-container">
									<div class="faq-question">
										Are there any fees associated with using
										the website or accessing the college
										ranking information?
									</div>
									<div class="faq-arrow">
										<i class="fa-solid fa-caret-down"></i>
									</div>
								</div>
								<div class="faq-answer">
									There are no fees associated with using our
									website or accessing the college ranking
									information. We believe in providing
									valuable resources and information to help
									students make informed decisions about their
									higher education options, free of charge.
								</div>
							</div>
							<div class="faq" onclick="faqreveal(6)">
								<div class="faq-question-container">
									<div class="faq-question">
										Where can I ask more queries or seek
										further assistance if I have additional
										questions?
									</div>
									<div class="faq-arrow">
										<i class="fa-solid fa-caret-down"></i>
									</div>
								</div>
								<div class="faq-answer">
									If you have more questions or need further
									assistance, you can utilize two main
									channels. Firstly, you can fill out the form
									located at the bottom of this page.
									Alternatively, you can reach out to us
									through our social media channels such as
									Facebook, Twitter, and Instagram. Your
									satisfaction and clarity are our top
									priorities, and we're dedicated to helping
									you make informed decisions about your
									higher education journey.
								</div>
							</div>
						</div>
					</div>

					<!-- FAQs Ends -->

					<!-- Contact Form Begins -->

					<div class="contactform-container" id="contactform">
						<form
							class="contactform"
							action="https://formspree.io/f/xwkgqqla"
							method="post"
						>
							<div class="contactform-heading">
								Send Us Your Queries
							</div>
							<div class="contactform-name">
								<label for="contactform-name" required
									><i class="fa-solid fa-circle-user"></i
								></label>
								<input
									type="text"
									id="contactform-name"
									name="contactform-name"
									placeholder="Enter Your Name"
									required
								/>
							</div>
							<div class="contactform-email">
								<label for="contactform-email" required
									><i class="fa-solid fa-envelope"></i
								></label>
								<input
									type="email"
									id="contactform-email"
									name="contactform-email"
									placeholder="Enter Your Email"
									required
								/>
							</div>
							<div class="contactform-msg">
								<label for="contactform-msg" required
									><i class="fa-solid fa-message"></i
								></label>
								<textarea
									id="contactform-msg"
									name="contactform-msg"
									rows="10"
									cols="21"
									maxlength="350"
									placeholder="Enter Your Message"
									required
								></textarea>
							</div>
							<button type="submit" class="contactform-submit">
								Send
							</button>
						</form>
					</div>

					<!-- Contact Form Ends -->
				</div>

				<!-- Main Body Ends -->

				<!-- Footer Begins -->

				<div class="footer-container">
					<div class="footer" id="footer">
						<div class="about-card">
							<div class="about-card-heading">About Us</div>
							<div class="about-card-content">
								We are a team of 4 people from
								<a
									class="iiitp-link"
									href="https://iiitp.ac.in"
								>
									<!-- <i class="fa-solid fa-graduation-cap"></i> -->
									Indian Institute of Information Technology,
									Pune</a
								>.<br />
								This is a hobby project, but we try to keep the
								data up to date. If you find any bugs or have
								any suggestions then open a issue at our
								<a
									class="github-link"
									href="https://github.com/h4636oh/KnowMyCollege/issues/new"
								>
									<!-- <i class="fa-brands fa-github"></i> -->
									Github Repo</a
								>.<br />
							</div>
						</div>
						<div class="contact-card">
							<div class="contact-card-heading">Contact Us</div>
							<div class="contact-card-content">
								<ul>
									<li>
										<i class="fa-regular fa-envelope"></i>
										<a
											href="mailto:fakeh4@tuta.io"
											target="_blank"
											rel="noopener noreferrer"
											>Fakeh4@tuta.io</a
										>
									</li>
									<li>
										<i class="fa-brands fa-github"></i>
										<a
											href="https://github.com/h4636oh/KnowMyCollege"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
									<li>
										<i class="fa-brands fa-mastodon"></i>
										<a
											href="https://mastodon.social/getting-started"
											target="_blank"
											rel="noopener noreferrer"
											>KnowMyCollege</a
										>
									</li>
									<li>
										<i class="fa-brands fa-linkedin"></i>
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>~~KnowMyCollege~~</a
										>
									</li>
									<li>
										<i class="fa-brands fa-instagram"></i>
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>~~KnowMyCollege~~</a
										>
									</li>
									<li>
										<i class="fa-brands fa-x-twitter"></i>
										<a
											href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
											target="_blank"
											rel="noopener noreferrer"
											>~~KnowMyCollege~~</a
										>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Ends -->
			</div>
		</div>

		<!-- Background Effect Ends -->

		<script>
			function faqreveal(faqNumber) {
				let answerState = document.querySelector(
					`.faq:nth-of-type(${faqNumber}) .faq-answer`
				);
				let arrowState = document.querySelector(
					`.faq:nth-of-type(${faqNumber}) .faq-arrow`
				);
				if (answerState.style.display == "block") {
					answerState.style.display = "none";
					arrowState.style.transform = "rotate(0deg)";
				} else {
					answerState.style.display = "block";
					arrowState.style.transform = "rotate(180deg)";
				}
			}
		</script>
	</body>
</html>
